@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Font styles*/
.montserrat-thin {
  font-family: 'Montserrat', serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-light {
  font-family: 'Montserrat', serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-regular {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold {
  font-family: 'Montserrat', serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-black {
  font-family: 'Montserrat', serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-thin-italic {
  font-family: 'Montserrat', serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-light-italic {
  font-family: 'Montserrat', serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-regular-italic {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-medium-italic {
  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-bold-italic {
  font-family: 'Montserrat', serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-black-italic {
  font-family: 'Montserrat', serif;
  font-weight: 900;
  font-style: italic;
}

/* Font sizes */
.font-mini {
  font-size: 8px;
}

.font-small {
  font-size: 12px;
}

.font-medium {
  font-size: 16px;
}

.font-large {
  font-size: 20px;
}

.font-header-small {
  font-size: 24px;
}

.font-header-medium {
  font-size: 28px;
}

.font-header-large {
  font-size: 32px;
}
